[color]
  ui = auto
	diff = auto
	status = auto
	branch = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[github]
  user = broxtronix
[rerere]
  enabled = true

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[user]
	name = Michael Broxton
	email = michael.broxton@nasa.gov
